
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>@ViewData["Title"] - Jonathan Duncan's website</title>
    <!-- Favicon  -->
    <link rel="shortcut icon" href="jonathanduncan.ico">

    <!-- Switch Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
    <!--css/fonts/opensans.css included in site.css -->
    
    <environment names="Development">
        <link rel="stylesheet" href="/css/bundle.css" asp-append-version="true">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="/css/bundle.css" asp-append-version="true">
    </environment>

</head>

<body>

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="classy-load"></div>
    </div>

    <partial name="_ClassyHeader" />

    @RenderBody()

    <partial name="_ClassyFooter" />
  
    <!-- jQuery (necessary for all JavaScript plugins) -->
    <script src="@Url.Content("~/lib/jquery/jquery.min.js")"></script>

    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="@Url.Content("~/classy/revolution/js/jquery.themepunch.tools.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/classy/revolution/js/jquery.themepunch.revolution.min.js")"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="@Url.Content("~/classy/revolution/js/extensions/revolution.extension.actions.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/classy/revolution/js/extensions/revolution.extension.carousel.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/classy/revolution/js/extensions/revolution.extension.kenburn.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/classy/revolution/js/extensions/revolution.extension.layeranimation.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/classy/revolution/js/extensions/revolution.extension.navigation.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/classy/revolution/js/extensions/revolution.extension.navigation.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/classy/revolution/js/extensions/revolution.extension.parallax.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/classy/revolution/js/extensions/revolution.extension.slideanims.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/classy/revolution/js/extensions/revolution.extension.video.min.js")"></script>

    <!-- Popper js -->
    <script src="@Url.Content("~/classy/js/bootstrap/popper.min.js")"></script>
    <!-- Bootstrap js -->
    <script src="@Url.Content("~/classy/js/bootstrap/bootstrap.min.js")"></script>
    <!-- Plugins js -->
    <script src="@Url.Content("~/classy/js/include-all-plugins.js")"></script>
    <!-- Active js -->
    <script src="@Url.Content("~/classy/js/active.js")"></script>
    <!-- Active js -->
    <script src="@Url.Content("~/classy/js/revolution-slider-active/creative-slider-active.js")"></script>

</body>

</html>
